@font-face {
    font-family: quickSand;
	src: url('../*/quicksand.ttf');
}

body {
    font-family: 'quickSand', Arial, Helvetica, sans-serif;
	background-color:#202124;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: auto;
	display: flex;
  	align-items: center;
	flex-direction: column;
}

.aboutUsContainer {
	background-image:
	linear-gradient(
		hsl(226, 53%, 56%),
		hsl(226, 47%, 38%)
	);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.heading {
    width:90%;
    display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
    justify-content: center;
	color: white;
}

.heading2 {
    width:90%;
    display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
    justify-content: center;
	color: white;
}

.heading h1 {
	font-size: 40px;
	position: relative;
	margin-bottom: 25px;
}

.heading2 h1 {
	font-size: 32px;
	position: relative;
	margin-bottom: 25px;
}

.heading h1::after {
	content:"";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin-top: 20px;
	background-color: #fff;
}

.heading2 h1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 6px;
	display: block;
	margin-top: 20px;
	background-color: hsl(147, 73%, 40%);
}

.heading p {
	font-size: 20px;
	color: #fff;
	position: relative;
	margin-bottom: 25px;
	font-weight: 600;
}

.heading2 p {
	font-size: 18px;
	color: #fff;
	position: relative;
	margin-bottom: 25px;
	font-weight: 600;
}

.container1 {
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
}

.about {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.aboutUsImage {
	flex: 1;
	overflow: hidden;
}

.aboutUsImage img {
	max-width:70%;
	height: auto;
	display: block;
}

.aboutUsContent {
	flex: 1;
	font-size: 21px;
	text-align: center;
	width: 80%;
	font-weight: 600;
	margin-bottom: 0px;
}

.aboutSchool {
	background-image:
	linear-gradient(
		hsl(34, 64%, 61%),
		hsl(34, 81%, 45%)
	);
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.container2 {
	width: 70%;
	height: 600px;
	margin: 0 auto;
	align-items: center;
	display: flex;
	padding: 25px 25px;
	background: url("../*/Images/gbaBg.jpg") center/cover;
	border-radius: 20px;
	border: 7px solid #3a3c41;
	margin-top: 20px;
	margin-bottom: 20px;
}

.schoolImage {
	flex: 1;
	overflow: hidden;
	margin-top: 20px;
}

.schoolImage img {
	max-width:100%;
	margin: 0 auto;
	height: auto;
	display: block;
}

.visitButton {
	padding: 20px 60px;
	font-size: 18px;
	font-family: 'quickSand', Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	border-radius: 15px;
	border: 0px;
	background: linear-gradient(
		hsl(34, 64%, 61%),
		hsl(34, 81%, 45%)
	);
	margin-bottom: 50px;
}

.image-container {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.image-item {
	max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px 10px;
	border-radius: 5px;

	overflow: hidden;
}

.image-item:hover {
	transform: scale(1.1);
}

.image-item img {
	max-width: 200px;
    height: auto;
	margin-bottom: 10px;
	border-radius: 5px;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image-item .qoute {
	display: none;
	animation: fadeInAnimation 1s forwards;
}

.aboutSponsors {
	background-image:
	linear-gradient(
		hsl(266, 72%, 67%),
		hsl(278, 95%, 48%)
	);
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	color: white;
}


@media (max-width: 750px) {
	.about {
		flex-direction: column;
	}
	.aboutUsImage img {
		max-width:50%;
		margin: 0 auto;
		height: auto;
		display: block;
	}
	.aboutUsContainer {
		height: auto;
	}
	.aboutUsContent {
		font-size: 16px;
		margin-bottom: 60px;
	}
	.image-item {
		max-width: 100%;
		font-size: 30px;
	}
	.image-item img {
		max-width: 90%;
	}
}

.fade-in-container {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
}

.fade-in-show {
	opacity: 1;
	transform: translateY(0);
}

